* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    color: seashell;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
    font-size: 22px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-grow: 1;
}

/* NAVIGATION */

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    height: 69px;
    border-bottom: 1px seashell solid;
    z-index: 1;
    background-color: black;
    width: 100%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    padding-left: 10px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin: 1rem;
}

/* MISSION */

#mission {
    height: 700px;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
    background-color: black;
    text-align: center;
    width: 100%;
}

/* FEATURED TEAS */

#featured {
    margin: 3em;
    width: 1000px;
}

#featured h2, h4 {
    text-align: center;
    margin: 10px 0;
}

.tea-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tea-containers li {
    list-style: none;
}

.tea-containers li img {
    width: 300px;
    height: 200px;
    margin: 10px 0;
}

/* LOCATIONS */

#locations {
    height: 500px;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#locations h2 {
    margin-bottom: 1rem;
}

.locations-containers {
    display: inline-flex;
    justify-content: space-between;
    width: 980px;
}

.location {
   width: 300px;
   background-color: black;
   text-align: center;
   opacity: 1;
}

.location > * {
    margin: 2rem 0;
}

/* CONTACT INFORMATION */

footer {
    width: 100%;
}

#contact-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    padding: 10px;
}

.copyright {
    margin: 20px auto 20px 20px;
}